In [24]:
#dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from selenium import webdriver

MARS NEWS

In [32]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [33]:
#scrape https://mars.nasa.gov/news/
url = 'https://mars.nasa.gov/news/'

browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [ ]:
#pause
time.sleep(1)

In [34]:
#collect article
article = soup.find('div', class_='list_text')

In [35]:
#collect title
first_title = article.find('div', class_='content_title').text

In [36]:
#collect paragraph
first_para = article.find('div', class_='article_teaser_body').text

In [37]:
#print
print(first_title)

NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars

In [38]:
print(first_para)

For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design.

In [39]:
#quit browser
browser.quit()

MARS IMAGE

In [50]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [51]:
#scrape https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(image_url)
html = browser.html
image_soup = bs(html, 'html.parser')

In [ ]:
#pause
time.sleep(1)

In [52]:
#collect image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [53]:
#pause
time.sleep(1)

In [54]:
#find image url by clicking 'more info'
browser.links.find_by_partial_text('more info').click()

In [55]:
#pause
time.sleep(1)

In [56]:
#read html on this page
html = browser.html
image_soup = bs(html, 'html.parser')

In [57]:
#find image id/source
image = image_soup.select_one("figure", class_='lede')

image_id = image.find('img')["src"]
image_url = f"https://www.jpl.nasa.gov{image_id}"

In [58]:
#define image url
image_url = f"https://www.jpl.nasa.gov{image_id}"

In [59]:
#print
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17011_hires.jpg

In [60]:
#quit browser
browser.quit()

MARS FACTS

In [66]:
#define url and only look at first table
facts_url = "https://space-facts.com/mars/"

In [67]:
#read in pandas
facts_df = pd.read_html(facts_url)
facts_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [69]:
#only look at first table
mars_facts = facts_df[0]
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [70]:
#edit the df
mars_facts.columns = ['Description', 'Value(s)']
mars_facts

            Description                       Value(s)
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [72]:
#convert to html
mars_facts.to_html('facttable.html')

MARS HEMPISPHERES

In [83]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [84]:
#scrape https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemi_url)
html = browser.html
hemi_soup = bs(html, 'html.parser')

In [85]:
#pause
time.sleep(1)

In [86]:
#find hemisphere titles
hemis = []

results = hemi_soup.find_all('div', class_="collapsible results")
hemispheres = results[0].find_all('h3')

In [87]:
#get and store
for name in hemispheres:
    hemis.append(name.text)

hemis

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']