In [140]:
#dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
from selenium import webdriver

MARS NEWS

In [141]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [142]:
#scrape https://mars.nasa.gov/news/
url = 'https://mars.nasa.gov/news/'

browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [143]:
#pause
time.sleep(1)

In [144]:
#collect article
article = soup.find('div', class_='list_text')

In [145]:
#collect title
first_title = article.find('div', class_='content_title').text

In [146]:
#collect paragraph
first_para = article.find('div', class_='article_teaser_body').text

In [147]:
#print
print(first_title)

NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars

In [148]:
print(first_para)

For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design.

In [149]:
#quit browser
browser.quit()

MARS IMAGE

In [150]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [151]:
#scrape https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(image_url)
html = browser.html
image_soup = bs(html, 'html.parser')

In [152]:
#pause
time.sleep(1)

In [153]:
#collect image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [154]:
#pause
time.sleep(1)

In [155]:
#find image url by clicking 'more info'
browser.links.find_by_partial_text('more info').click()

In [156]:
#pause
time.sleep(1)

In [157]:
#read html on this page
html = browser.html
image_soup = bs(html, 'html.parser')

In [158]:
#find image id/source
image = image_soup.select_one("figure", class_='lede')

image_id = image.find('img')["src"]
image_url = f"https://www.jpl.nasa.gov{image_id}"

In [159]:
#define image url
image_url = f"https://www.jpl.nasa.gov{image_id}"

In [160]:
#print
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16565_hires.jpg

In [161]:
#quit browser
browser.quit()

MARS FACTS

In [162]:
#define url and only look at first table
facts_url = "https://space-facts.com/mars/"

In [163]:
#read in pandas
facts_df = pd.read_html(facts_url)
facts_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [164]:
#only look at first table
mars_facts = facts_df[0]
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [165]:
#edit the df
mars_facts.columns = ['Description', 'Value(s)']
mars_facts

            Description                       Value(s)
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [166]:
#convert to html
mars_facts.to_html('facttable.html')

MARS HEMPISPHERES

In [167]:
#chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [168]:
#scrape https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemi_url)
html = browser.html
hemi_soup = bs(html, 'html.parser')

In [169]:
#pause
time.sleep(1)

In [170]:
#find hemisphere titles
hemis = []

results = hemi_soup.find_all('div', class_="collapsible results")
hemispheres = results[0].find_all('h3')

In [171]:
#get and store
for name in hemispheres:
    hemis.append(name.text)

hemis

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [172]:
# find urls for image thumbnails
thumbnails = results[0].find_all('a')
thumbnail_links = []

for thumbnail in thumbnails:
    if (thumbnail.img):
        thumbnail_url = f'https://astrogeology.usgs.gov/{thumbnail}'
        thumbnail_links.append(thumbnail_url)

In [173]:
#view thumbnail links
thumbnail_links

['https://astrogeology.usgs.gov/<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>',
 'https://astrogeology.usgs.gov/<a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>',
 'https://astrogeology.usgs.gov/<a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>',
 'https://astrogeology.usgs.gov/<a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>']

In [174]:
#need only href for links...
# find urls for image thumbnails
thumbnails = results[0].find_all('a')
thumbnail_links = []

for thumbnail in thumbnails:
    if (thumbnail.img):
        thumbnail_url = 'https://astrogeology.usgs.gov/' + thumbnail['href']
        thumbnail_links.append(thumbnail_url)

In [175]:
#view thumbnail links
thumbnail_links

['https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced']

In [176]:
#find urls for full sized images
full_images = []

for url in thumbnail_links:
    
    #Read into each page from thumbnail link
    browser.visit(url)
    
    html = browser.html
    full_soup = bs(html, 'html.parser')
    
    results = full_soup.find_all('img', class_='wide-image')
    image_path = results[0]['src']
    
    image_link = f'https://astrogeology.usgs.gov/{image_path}'
    
    full_images.append(image_link)

In [177]:
#view image urls
full_images

['https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [178]:
#quit browser
browser.quit()

In [184]:
#combine the lists
hemis_df = pd.DataFrame(hemis)
hemis_df

                                      0
0          Cerberus Hemisphere Enhanced
1      Schiaparelli Hemisphere Enhanced
2      Syrtis Major Hemisphere Enhanced
3  Valles Marineris Hemisphere Enhanced

In [190]:
hemis_df['URL'] = full_images

In [192]:
hemis_df.rename(columns={0:"Title"})

,Title,URL
0,Cerberus Hemisphere Enhanced,https://astrogeology.usgs.gov//cache/images/f5...
1,Schiaparelli Hemisphere Enhanced,https://astrogeology.usgs.gov//cache/images/37...
2,Syrtis Major Hemisphere Enhanced,https://astrogeology.usgs.gov//cache/images/55...
3,Valles Marineris Hemisphere Enhanced,https://astrogeology.usgs.gov//cache/images/b3...